.menu-list {
  padding-right: 2rem;
}
.dish-item {
  line-height: 1.7rem;
  text-align: end;
}

.menu-link {
  cursor: pointer;
}

.menu-link:hover {
  color: #fc8019;
  font-weight: 600;
}
.menu--active {
  color: #fc8019;
  font-weight: 600;
}
